# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore build artifacts
/build

# Ignore client-side dependencies
/client/node_modules/

# Ignore server-side dependencies
/server/node_modules/

# Ignore logs
logs/

# Ignore macOS specific files
.DS_Store

# Ignore editor specific files
.vscode/

# Ignore production build artifacts
/dist

# Ignore package lock files
package-lock.json
yarn.lock


#
fr-end/